/* Style pour centrer la recherche */
.search-container {
    position: relative;
    width: 300px; /* ajustez la largeur selon vos besoins */
    margin: 0 auto;
    margin-top: 50px; /* pour l'espacement en haut */
  }

  /* Style pour l'icône de la loupe */
  #searchButton {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    width: 30px; /* ajustez la largeur de l'icône */
    height: 20px; /* ajustez la hauteur de l'icône */
  }

  #searchButton img {
    width: 100%;
    height: 100%;
  }

  /* Style pour la croix */
  #clearButton {
    position: absolute;
    left: 200px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    width: 30px; /* ajustez la largeur de l'icône */
    height: 20px; /* ajustez la hauteur de l'icône */
    display: none; /* caché par défaut */
  }

  #clearButton img {
    width: 100%;
    height: 100%;
  }

  /* Style pour l'input de recherche */
  .search-input {
    width: calc(100% - 40px); /* laisser de l'espace pour les icônes */
    padding: 10px;
    padding-right: 40px; /* laisser de l'espace pour les icônes */
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* pour inclure le padding dans la largeur */
    font-family: "Playfair";
  }